/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.sizeButtons {
  position: relative;
  margin-right: 50px;
}

.sizeButtons input {
  width: 65px;
  height: 25px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 100;
  /*left: 0px;*/
}

.sizeButtons label {
  cursor: pointer;
  display: inline-block;
  margin: 0px;
  width: 65px;
  padding: 0px 6px;
  color: #777;
  line-height: 20px;
  font-size: 13px;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid #fff;
}

.sizeButtons input[type="radio"]:checked + label {
    background-color:#bbb;
}



.trialButtons {
  position: relative;
  margin-left: 50px;
}

.trialButtons input {
  width: 65px;
  height: 25px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 100;
  /*left: 0px;*/
}

.trialButtons label {
  cursor: pointer;
  display: inline-block;
  margin: 0px;
  width: 65px;
  padding: 0px 6px;
  color: #777;
  line-height: 20px;
  font-size: 13px;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid #fff;
}

.trialButtons input[type="radio"]:checked + label {
    background-color:#bbb;
}



.caseButtons {
  position: relative;
  margin-left: 50px;
}

.caseButtons input {
  width: 65px;
  height: 25px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 100;
  /*left: 0px;*/
}

.caseButtons label {
  cursor: pointer;
  display: inline-block;
  margin: 0px;
  width: 65px;
  padding: 0px 6px;
  color: #777;
  line-height: 20px;
  font-size: 13px;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid #fff;
}

.caseButtons input[type="radio"]:checked + label {
    background-color:#bbb;
}

.options {
  display: flex;
  justify-content: center;
  margin: 50px;
}
