/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*

      border-top: 16px solid #3498db;
*/
 #loader {
     border: 16px solid #f3f3f3; /* Light grey */
     border-top: 16px solid red;
     border-radius: 50%;
     width: 120px;
     height: 120px;
     animation: spin 2s linear infinite;
     position: absolute;
     top: 45%;
     left: 45%;
     z-index: 100;
 }

 @keyframes spin {
     0% { transform: rotate(0deg); }
     100% { transform: rotate(360deg); }
 }


.mainContent {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.allContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.sizeButtons {
  position: relative;
  width: 100%;
  /*margin-right: 50px;*/
}

.sizeButtons input {
  width: 65px;
  height: 25px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 100;
  /*left: 0px;*/
}

.sizeButtons label {
  cursor: pointer;
  display: inline-block;
  margin: 0px;
  width: 65px;
  padding: 0px 6px;
  color: #777;
  line-height: 20px;
  font-size: 13px;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid #fff;
}

.sizeButtons input[type="radio"]:checked + label {
    background-color:#bbb;
}



.trialButtons {
  position: relative;
  width: 100%;
  /*margin-left: 50px;*/
  /*margin-right: 50px;*/
}

.trialButtons input {
  width: 65px;
  height: 25px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 100;
  /*left: 0px;*/
}

.trialButtons label {
  cursor: pointer;
  display: inline-block;
  margin: 0px;
  width: 65px;
  padding: 0px 6px;
  color: #777;
  line-height: 20px;
  font-size: 13px;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid #fff;
}

.trialButtons input[type="radio"]:checked + label {
    background-color:#bbb;
}



.caseButtons {
  position: relative;
  /*margin-left: 50px;*/
  width: 100%;
}

.caseButtons input {
  width: 65px;
  height: 25px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 100;
  /*left: 0px;*/
}

.caseButtons label {
  cursor: pointer;
  display: inline-block;
  margin: 0px;
  width: 65px;
  padding: 0px 6px;
  color: #777;
  line-height: 20px;
  font-size: 13px;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid #fff;
}

.caseButtons input[type="radio"]:checked + label {
    background-color:#bbb;
}

.options {
  display: flex;
  flex-direction: column;
  /*align-items: flex-start;*/
  justify-content: flex-start;
  margin-right: 100px;
  /*border: 1px solid grey;*/
  padding: 10px;
  width: 450px;
}

.options p {
  padding-right: 100px;

  word-wrap: break-word;
  width: 100%;
}

.options h3 {
  padding-right: 100px;

  word-wrap: break-word;
  width: 100%;
}


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(http://fonts.googleapis.com/css?family=Squada+One);

#logo {
  font-family: 'Open Sans', sans-serif;
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
  top: 30px;
}
#logo:after {
  content:"sort comparison";
  position: absolute;
  left: 0px;
  top: 15px;
}
#logo:after {
  /*background: url(http://subtlepatterns.com/patterns/crossed_stripes.png) repeat;*/
  background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
  background-size: 4px 4px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -5;
  display: block;
  text-shadow: none;
}

button {
  margin-top: 50px;
}
